## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

In [15]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt1 = classification_counts[classification_counts > 1]

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 1500
classifications_to_replace = list(classification_counts[classification_counts < cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [11]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
y = application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                4160

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 6,621
Trainable params: 6,621
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 817us/step - loss: 0.5708 - accuracy: 0.7236
Epoch 2/100
804/804 [==============================] - 1s 783us/step - loss: 0.5553 - accuracy: 0.7304
Epoch 3/100
804/804 [==============================] - 1s 757us/step - loss: 0.5517 - accuracy: 0.7325
Epoch 4/100
804/804 [==============================] - 1s 850us/step - loss: 0.5498 - accuracy: 0.7311
Epoch 5/100
804/804 [==============================] - 1s 894us/step - loss: 0.5486 - accuracy: 0.7332
Epoch 6/100
804/804 [==============================] - 1s 887us/step - loss: 0.5473 - accuracy: 0.7329
Epoch 7/100
804/804 [==============================] - 1s 996us/step - loss: 0.5470 - accuracy: 0.7352
Epoch 8/100
804/804 [==============================] - 1s 945us/step - loss: 0.5467 - accuracy: 0.7357
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7361
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7342
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7353
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7356
Epoch 13/100
804/804 [==============================] - 1s 985us/step - loss: 0.5446 - accuracy: 0.7356
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7365
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7364
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7368
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7362
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7358
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7358
Epoch 20/100
804/804 [==============================] - 1s 992us/step - loss: 0.5417 - accuracy: 0.7378
Epoch 21/100
804/804 [==============================] - 1s 982us/step - loss: 0.5415 - accuracy: 0.7381
Epoch 22/100
804/804 [==============================] - 1s 979us/step - loss: 0.5414 - accuracy: 0.7383
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7382
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7393
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7384
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7399
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7395
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7386
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7383
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7402
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7392
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7392
Epoch 33/100
804/804 [==============================] - 1s 976us/step - loss: 0.5391 - accuracy: 0.7392
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7395
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7399
Epoch 36/100
804/804 [==============================] - 1s 965us/step - loss: 0.5385 - accuracy: 0.7393
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7399
Epoch 38/100
804/804 [==============================] - 1s 911us/step - loss: 0.5388 - accuracy: 0.7404
Epoch 39/100
804/804 [==============================] - 1s 973us/step - loss: 0.5384 - accuracy: 0.7395
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7402
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7397
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7398
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7399
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7400
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7412
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7402
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7396
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7405
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7399
Epoch 50/100
804/804 [==============================] - 1s 973us/step - loss: 0.5371 - accuracy: 0.7406
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7404
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7409
Epoch 53/100
804/804 [==============================] - 1s 982us/step - loss: 0.5370 - accuracy: 0.7407
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7406
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7407
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7402
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7409
Epoch 58/100
804/804 [==============================] - 1s 953us/step - loss: 0.5369 - accuracy: 0.7402
Epoch 59/100
804/804 [==============================] - 1s 972us/step - loss: 0.5368 - accuracy: 0.7406
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7413
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7406
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7404
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7409
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7407
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7399
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7409
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7412
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7412
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7406
Epoch 70/100
 94/804 [==>...........................] - ETA: 0s - loss: 0.5237 - accuracy: 0.7450

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [38]:
# Export our model to HDF5 file
nn.save("charity_nn_model.h5")