## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt1 = classification_counts[classification_counts > 1]

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 1500
classifications_to_replace = list(classification_counts[classification_counts < cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
y = application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 150
hidden_nodes_layer2 = 100
hidden_nodes_layer3 = 75

nn = tf.keras.models.Sequential()

# First hidden layer with 'tanh' activation
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='tanh'))
nn.add(tf.keras.layers.Dropout(0.2))

# Second hidden layer with 'elu' activation
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='elu'))
nn.add(tf.keras.layers.Dropout(0.2))

# Third hidden layer with 'relu' activation
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))
nn.add(tf.keras.layers.Dropout(0.2))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 150)               6600

 dropout (Dropout)           (None, 150)               0

 dense_1 (Dense)             (None, 100)               15100

 dropout_1 (Dropout)         (None, 100)               0

 dense_2 (Dense)             (None, 75)                7575

 dropout_2 (Dropout)         (None, 75)                0

 dense_3 (Dense)             (None, 1)                 76

=================================================================
Total params: 29,351
Trainable params: 29,351
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
optimizer = tf.keras.optimizers.Adam(learning_rate=0.001)
nn.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])

In [14]:
from tensorflow.keras.callbacks import EarlyStopping

In [15]:
# Train the model
early_stopping = EarlyStopping(monitor='val_loss', patience=10)
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, validation_split=0.2, callbacks=[early_stopping])

Epoch 1/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5828 - accuracy: 0.7164 - val_loss: 0.5734 - val_accuracy: 0.7141
Epoch 2/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5696 - accuracy: 0.7251 - val_loss: 0.5638 - val_accuracy: 0.7205
Epoch 3/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5650 - accuracy: 0.7256 - val_loss: 0.5658 - val_accuracy: 0.7197
Epoch 4/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5601 - accuracy: 0.7296 - val_loss: 0.5670 - val_accuracy: 0.7162
Epoch 5/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5568 - accuracy: 0.7307 - val_loss: 0.5629 - val_accuracy: 0.7207
Epoch 6/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5577 - accuracy: 0.7322 - val_loss: 0.5678 - val_accuracy: 0.7263
Epoch 7/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5559 - accuracy: 0.7325 - val_loss: 0.5635 - val_accuracy: 0.7228
Epoch 8/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5548 - accuracy: 0.7327 - val_loss: 0.5598 - val_accuracy: 0.7254
Epoch 9/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5541 - accuracy: 0.7350 - val_loss: 0.5595 - val_accuracy: 0.7265
Epoch 10/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5543 - accuracy: 0.7367 - val_loss: 0.5598 - val_accuracy: 0.7240
Epoch 11/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5550 - accuracy: 0.7340 - val_loss: 0.5656 - val_accuracy: 0.7205
Epoch 12/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5532 - accuracy: 0.7353 - val_loss: 0.5569 - val_accuracy: 0.7226
Epoch 13/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5523 - accuracy: 0.7354 - val_loss: 0.5603 - val_accuracy: 0.7226
Epoch 14/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5525 - accuracy: 0.7346 - val_loss: 0.5695 - val_accuracy: 0.7244
Epoch 15/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5519 - accuracy: 0.7346 - val_loss: 0.5589 - val_accuracy: 0.7211
Epoch 16/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5508 - accuracy: 0.7368 - val_loss: 0.5609 - val_accuracy: 0.7246
Epoch 17/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5526 - accuracy: 0.7343 - val_loss: 0.5608 - val_accuracy: 0.7195
Epoch 18/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5506 - accuracy: 0.7345 - val_loss: 0.5620 - val_accuracy: 0.7244
Epoch 19/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7351 - val_loss: 0.5618 - val_accuracy: 0.7226
Epoch 20/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7359 - val_loss: 0.5648 - val_accuracy: 0.7234
Epoch 21/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5501 - accuracy: 0.7361 - val_loss: 0.5567 - val_accuracy: 0.7254
Epoch 22/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5492 - accuracy: 0.7381 - val_loss: 0.5615 - val_accuracy: 0.7242
Epoch 23/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7376 - val_loss: 0.5578 - val_accuracy: 0.7224
Epoch 24/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7357 - val_loss: 0.5606 - val_accuracy: 0.7207
Epoch 25/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5492 - accuracy: 0.7385 - val_loss: 0.5671 - val_accuracy: 0.7199
Epoch 26/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5487 - accuracy: 0.7373 - val_loss: 0.5593 - val_accuracy: 0.7223
Epoch 27/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7354 - val_loss: 0.5578 - val_accuracy: 0.7221
Epoch 28/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7371 - val_loss: 0.5606 - val_accuracy: 0.7209
Epoch 29/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7386 - val_loss: 0.5570 - val_accuracy: 0.7240
Epoch 30/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7359 - val_loss: 0.5622 - val_accuracy: 0.7228
Epoch 31/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7358 - val_loss: 0.5578 - val_accuracy: 0.7259

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5576 - accuracy: 0.7257 - 212ms/epoch - 790us/step
Loss: 0.5575631260871887, Accuracy: 0.7257142663002014

In [17]:
# Export our model to HDF5 file
nn.save("charity_nn_model.h5")